*{
    margin: 0;
}
.body{
    display: grid;
    grid-template-columns: 4fr 10fr;
}
.header-container{
    display: grid;
    place-items: center;
    padding: 20px 0;
    border-bottom: 1px solid grey;
}
.header-container h1{
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
}
.contact-details{
    display: flex;
    gap: 20px;
}
.leftbar-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid gray;
}
.leftbar-container .title{
    font-size: 1.2rem;
    font-weight: 600;
}
.leftbar-container ul{
    padding-left: 10px;
}
.education-card{
    padding: 10px 0;
    position: relative;
}
.course{
    position: absolute;
    top: 4px;
    right: 4px;
}